*{
    margin: 0;
    padding: 0;
}
img.lasagna_image {
        height: 200px;
        width: 250px;
        border-radius: 50px;
        border: 3px dashed pink;
}
.header, .description, .ingredients, .steps, .steps_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:30px;
}
ol.stepx {
    width: 500px;
    text-align: justify;

}
p.desc {
    width: 500px;
    text-align: justify;
    margin: 10px;
}
.ingredients, .dients, .steps, .stepx {
    margin: 20px;
}



body {
    font-family: Arial, Helvetica, sans-serif;
}
